.containerDetail {
  display: flex;
  flex-direction: column-reverse ;
  justify-content: space-around;
}

.info-details {
margin: 50px;;
}

.img-details {

}

@media screen and (min-width: 740px) {
  
}