.footer {
  display: flex;
  justify-content: center;
  margin: 50px 40px 0;
}

.footer p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.footer a {
  text-decoration: none;
  margin: 0 5px;
}


