img.logo {
  display: block;
  width: 230px;
  margin: 30px auto;
  padding-bottom: 10px;
  box-shadow: var(--shadow);
}

@media only screen and (min-width: 768px){
  img.logo {
    width: 300px;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 1024px){
  img.logo {
    width: 400px;
    margin: 40px 0 40px 100px;
  }
}