h1.title.baseline {
  display: block;
  width: fit-content;
  margin: 0 auto 30px auto;
  letter-spacing: 1px;
  font-size: 20px;
}

.gif-home {
  display: block;
  margin: 0 auto;
  box-shadow: var(--shadow);
   border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
  
}

@media only screen and (min-width: 768px){
  h1.title.baseline {
    font-size: 30px;
  }
}
